<launch>
  <arg name="robot_count" default="1"/>

  
  <!-- Localization -->
  <include file="$(find myprofile)/launch/includes/astra_amcl.launch.xml">
    <arg name="initial_pose_x" default="-$(arg robot_count)"/>
    <arg name="initial_pose_y" default="-2.0"/>
    <arg name="initial_pose_a" default="0.0"/>
    <arg name="robot_name" value="robot$(arg robot_count)"/>
  </include>

  <group ns="robot$(arg robot_count)">
  <!-- Move base -->
  <include file="$(find myprofile)/launch/includes/move_base.launch.xml">
    <arg name="robot_name" value="robot$(arg robot_count)"/>
  </include>
  </group>


<!-- recursive call -->
  <include file="$(find myprofile)/launch/amcl_recur.launch" if="$(eval arg('robot_count') > 1)">
    <arg name="robot_count" value="$(eval arg('robot_count') - 1)" />
  </include>

</launch>
